<?xml version="1.0" ?>
<model>
  <name>Land Yacht Main Sail</name>
  <version>2.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Main sail for a land yacht.
  </description>
</model>
