<?xml version="1.0" ?>
<model>
  <name>Wing Sail with Elevator</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A wing sail with elevator free to rotate on a heavy stand.
  </description>

</model>
