<?xml version="1.0" ?>
<model>
  <name>Wing Sail NACA0018 1.4m</name>
  <version>2.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A wing sail with a NACA 0018 section and 1.4m span.
  </description>
</model>
